body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f2f2;
    
}

header{
    background: #07d01b;
    padding: 10px 0;
}


.branco{
    color: #fcf8f8;
}

.caixa{
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.imgcaixa{
    position: relative;
    width: 100px;
    margin-top: 0;
    
}


nav{
    position: absolute;
    top: 20px;
    right: 0;
   
}

nav li{
    display: inline;
    justify-content: space-between; 
} 

nav a{https://cdn.awsli.com.br/800x800/591/591154/produto/224300629/st-rs-01-tdgyohn1r5.png
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin-right: 30px;
    https://cdhttps://cdn.awsli.com.br/800x800/591/591154/produto/224300629/st-rs-01-tdgyohn1r5.pngn.awsli.com.br/800x800/591/591154/produto/224300629/st-rs-01-tdgyohn1r5.png
}

h1{
    margin-left: 30px;
}

nav a:hover{
    color: #fafafa;
    text-decoration: underline;
    font-size: 40px;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(248, 243, 243);
    border-radius: 10px;As Melhores Peças
}

.produtos li:hover{
    border-color: #ffffff;
}

.produtos li:active{
    border-color: #ffffff;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px
}

footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: rgb(247, 245, 245);
    font-size: 13px;
    margin-top: 20px;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: rgb(244, 244, 243);
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}


.enviar:hover{
    background: rgb(248, 246, 243);
    transform: rotate(360deg) scale(1.2);
}

table{
    margin: 20px 0 40px;
}

thead{
    background: #edecec;
    color: rgb(249, 246, 246);
    font-weight: bold;
}

td, th{
    border: 1px solid rgb(245, 243, 243);
    padding: 8px 15px;
}

/* css da pagina inicial */
.banner{
    
        width: 100%;
        height: 500px; /* Substitua 200px pelo valor desejado para a altura */
        margin-left: auto;
        margin-right: auto;
    }

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal{
    padding: 3em 0; /*3em para cima e para baixo e 0 para as laterais */
  
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#fefefe, #fdfdfd);
    text-align: center;
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.beneficios{
    padding: 3em 0;
    background: #fff;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens{
    line-height: 1.5;
}

.itens:first-child{
    font-weight: bold;
}

.itens::before{
    content: "★";
}

.imagem-beneficios{
    width: 60%;
    
   
}

.imagem-beneficios:hover{
    opacity: 0.3;
}

.video{
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px){
   .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
    width: auto;
   }

  

   nav{
    position: static;
   }

   .lista-beneficios, .imagem-beneficios{
    width: 100%;
   }
}

.peças{
    width: 10%;
    position: relative;
}
.peças2{
    width: 10%;
    position: relative;
}